body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-profile {
    max-width: 1000px;
    padding: 15px;
    margin: 0 auto;
}
.form-profile .form-profile-heading,
.form-profile .checkbox {
    margin-bottom: 10px;
}
.form-profile .checkbox {
    font-weight: normal;
}
.form-profile .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-profile .form-control:focus {
    z-index: 2;
}
.form-profile input[type="name"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-profile input[type="passwordRetry"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
